.red-txt {
	color: $red-txt;
}

.bold {
  font-weight: bold;
}

.centered {
  text-align: center;
}

.uc {
  text-transform: uppercase;
}

.und {
  text-decoration: underline;
}

.large-strong {
  font-size: 30px;
  text-transform: uppercase;
}

.med {
  font-size: 18px;
  text-transform: uppercase;
}

.stars {
  color: $red-txt;
  margin-top: 10px;
}

.lg-star {
  font-size: large;
}

.sep {
  border-color: $red-txt;
  width: 30%;
}

.sm-sep {
  border-color: $red-txt;
  width: 10%;
}

.quote {
  font-style: italic;
  font-family: Georgia, serif;
}

.flex-parent {
  @include flex-parent(center);
}

.l-ten {
  margin-left: 10px;
}

.b-five {
  margin-bottom: 5px;
}

.btn0134 {
  @include flex-child(50%);
  @include transition(background-color .25s ease-out);
  background-color: #35b335;
  text-align: center;
  &:hover {
    background-color: darken(#35b335, 25%);
  }
  a {
    color: #fff;
    display: block;
    padding: 40px 0;
    &:hover {
      text-decoration: none;
    }
  }
}

.btn1520 {
  @include flex-child(50%);
  @include transition(background-color .25s ease-out);
  text-align: center;
  background-color: #efa723;
  &:hover {
    background-color: darken(#efa723, 25%);
  }
  a {
    color: #fff;
    display: block;
    padding: 40px 0;
    &:hover {
      text-decoration: none;
    }
  }
}

.style-guide-link {
  margin-top: 20px;
  flex: 1;
  @include transition(background-color .25s ease-out);
  text-align: center;
  background-color: #c8379d;
  &:hover {
    background-color: darken(#c8379d, 25%);
  }
  a {
    color: #fff;
    display: block;
    padding: 40px 0;
    &:hover {
      text-decoration: none;
    }
  }
}

.repo0134-link {
  margin-top: 20px;
  flex: 1;
  @include transition(background-color .25s ease-out);
  text-align: center;
  background-color: #2b3382;
  &:hover {
    background-color: darken(#2b3382, 25%);
  }
  a {
    color: #fff;
    display: block;
    padding: 40px 0;
    &:hover {
      text-decoration: none;
    }
  }
}

.repo1520-link {
  margin-top: 20px;
  flex: 1;
  @include transition(background-color .25s ease-out);
  text-align: center;
  background-color: #009f91;
  &:hover {
    background-color: darken(#009f91, 25%);
  }
  a {
    color: #fff;
    display: block;
    padding: 40px 0;
    &:hover {
      text-decoration: none;
    }
  }
}
