body {
	background-color: #dcdcdc;
}

h1 {
	float: left;
	color: red;
	font-size: 400%;
	font-family: georgia;
	margin-left: auto;
	animation-name: moveright;
	animation-duration: 1s;
	animation-iteration-count: 4;
}

@keyframes moveright {
	from {margin-left: auto}
	to {margin-left: 1164px}
}

form {
	clear: both;
}

#bbat {
	height: 125px;
	width: 250px;
}

#bball {
	height: 200px;
	width: 200px;
}

#football {
	height: 175px;
	width: 225px;
}

#table {
	height: 175px;
	width: 225px;
}

#sball {
	height: 200px;
	width: 200px;
}

#t_rack {
	height: 175px;
	width: 225px;
}